Попытка 1:

```bash
$ docker run -p 8080:8080 -p 50000:50000 jenkins
```

Результаты: не установился ни один плагин

---

Попытка 2:

Weekly abd LTS releases: https://hub.docker.com/r/jenkinsci/jenkins/

```bash
$ docker pull jenkins/jenkins:lts
$ docker run -p 8080:8080 -p 50000:50000 -v jenkins_home:/var/jenkins_home jenkins/jenkins:lts
```

Работает, плагины установились, дженкинс запустился